@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

h2.slider-heading {
    font-family: cursive;
    font-size: 50px;
  }
  .section-2-rw{
    background-color: #f1cf69;
  }